---
import "normalize.css";
import "@fontsource-variable/nunito";
import "@/styles/global.css";
import Header from "@/sections/Header.astro";
import Presentation from "@/sections/Presentation.astro";
import Experience from "@/sections/Experience.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel Manzano</title>
  </head>
  <body>
    <Header />
    <Presentation />
    <hr class="text-gray-300" />
    <Experience />
  </body>
</html>

<style is:global>
  body {
    font-family: "Nunito Variable", sans-serif;
    max-width: 48rem;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
  }
</style>
