---
import "normalize.css";
import "@fontsource-variable/nunito";
import "@/styles/global.css";
import Header from "@/sections/Header.astro";
import Presentation from "@/sections/Presentation.astro";
import Experience from "@/sections/Experience.astro";
import Projects from "@/sections/Projects.astro";
import Technologies from "@/sections/Technologies.astro";
import Contact from "@/sections/Contact.astro";
import Footer from "@/sections/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel Manzano</title>
  </head>
  <body class="bg-white dark:bg-gray-800">
    <Header />
    <Presentation />
    <hr class="text-gray-300" />
    <Experience />
    <hr class="text-gray-300" />
    <Projects />
    <hr class="text-gray-300" />
    <Technologies />
    <hr class="text-gray-300" />
    <Contact />
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: "Nunito Variable", sans-serif;
    max-width: 48rem;
    margin: 0 auto;
    background-color: white;
    color: black;
  }

  .dark body {
    background-color: var(--color-gray-800);
    color: white;
  }

  h1 {
    margin: 0;
  }

  * {
    color: inherit;
  }
</style>

<script>
  console.log(window.matchMedia('(prefers-color-scheme: dark)'));
</script>