<span
  class="bg-gray-100 text-gray-800 text-xs font-medium me-2 mb-0.5 px-2.5 py-1 rounded-xl shadow-inner shadow-gray-400"
>
  <slot />
</span>

<!--dark:bg-gray-700 dark:text-gray-300 dark:shadow-black/30 -->
