---
const year = new Date().getFullYear();
---

<footer
  class="flex justify-center items-center mt-10 mb-5 gap-2 text-sm text-gray-400 italic"
>
  <p>&copy; {year} Pocos derechos reservados.</p>
  <p>|</p>
  <p>Inspirado en Eduardo RL</p>
</footer>
