---
import Badge from "@/components/Badge.astro";
import Button from "@/components/Button.astro";
import GitHubLight from "@/icons/GitHubLight.astro";
import LinkedinLight from "@/icons/LinkedinLight.astro";
import {Icon} from "astro-icon/components";
import {calculateAge} from "@/utils/calculateAge.js";
import Image from "astro/components/Image.astro";
import ProfileImage from "@/assets/imgs/profile.webp";

const myAge = calculateAge();
---

<section id="presentation-section" class="flex justify-between items-center my-10">
    <div class="credential-glass">
    <span class="credential-flip-btn bg-teal-400 hover:bg-teal-600">
      <Icon class="w-full h-full object-fill" name="eva:flip-2-fill"/>
    </span>
        <span class="credential-hole"></span>
        <span class="w-[50%] self-center rounded overflow-hidden">
      <Image src={ProfileImage} alt="Daniel Manzano" loading={"eager"}/>
    </span>
        <span class="credential-fields">
      <p><strong>Nombre completo:</strong></p>
      <p>Axel Luis Daniel Manzano Rodriguez</p>
    </span>
        <span class="credential-fields">
      <p><strong>Edad:</strong></p>
      <p>{myAge}</p>
    </span>
        <span class="credential-fields">
      <p><strong>Pais:</strong></p>
      <p>México</p>
    </span>
    </div>
    <div class="flex flex-col justify-center gap-4">
        <h1 class="m-0">Daniel Manzano</h1>
        <p>
            Egresado de la Licenciatura en Ingeniería de Sotftware.
            <br/>
            Apasionado por la programación y el desarrollo web frontend.
            <br/>
        </p>
        <span class="flex gap-4 items-center">
      <Badge>Disponible para trabajar</Badge>
      <Button href="https://linkedin.com/in/daniel-manzano-60666214a" target="_blank">
  <LinkedinLight/>
  Linkedin
</Button>

<Button href="https://github.com/SecRe555" target="_blank">
  <GitHubLight/>
  GitHub
</Button>
    </span>
    </div>
</section>

<style>
  .credential-glass {
    position: relative;
    width: 200px;
    height: 325px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    //background: linear-gradient(
    //  145deg,
    //  rgba(255, 255, 255, 0.4) 10%,
    //  transparent 60%
    //),
    linear-gradient(to bottom, #fff, #f0f0f0);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid gainsboro;
    margin-left: 55px;
    padding: 20px;
  }

  .credential-hole {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 20px;
    height: 20px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3) inset;
  }

  .credential-fields {
    font-size: 0.9rem;
  }

  .credential-flip-btn {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0px;
    left: -36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition-property: padding, background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    &:hover {
      padding: 7px;
    }

    &:active {
      padding: 12px;
    }
  }
</style>
